body {
    margin: 0;
    padding: 0;
}
.container {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    padding: 2rem;
    min-height: 300px;
    min-width: 400px;
    background-color: beige;
}
.hexColor {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}
.hex {
    font-size: 1rem;
    color: rgb(0, 0, 0);
}
.hexBtn {
    padding: 0.25rem 0.5rem;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 10px;
    cursor: pointer;
    color: aliceblue;
    background: rgba(0, 0, 0, 0.53);
    font-size: 0.8rem;
    cursor: pointer;
    outline: none;
}
.hexBtn:hover {
    background: black;
}
.cont {
    min-height: 200px;
    min-width: 200px;
}
.AgeBtn {
    background-color: rgba(0, 0, 0, 0.571);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 1.3rem;
}
.AgeBtn:hover {
    background-color: black;
}
